{% extends 'price/base.html' %}
{% block content %}
{% load static %}
<div style="text-align:center">
<head>
  <meta charset="utf-8">
  <h1 style="margin: 5%">About Page</h1>
  <h2>Why the website is called Dionysos</h2>
</head>
<body style="background-image: url({% static 'pictures/background.png' %}")>
<p>The website is called Dionysos after an ancient greek god. And i have used all other greek gods for other projects</p>
<img class="resize" src="{% static 'pictures/god.png' %}" alt="dionysos">
<p>Why to use Bitcoin as a currency:</p>
</div>
  <ul>
      <li>Reliable</li>
      <li>Decentralized</li>
      <li>Peer 2 Peer</li>
      <li>Usage</li>
  </ul>

</body>
</div>
{% endblock %}