<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Dionysos</title>
  <h1> How to Correlation is Calculated</h1>
</head>
<body>
    <p>No Idea, i just use an online calculator</p>
    <p> a lot of math</p>
    <img src="pictures/math.jpg">
    <table>
        <tr>
            <th>Cryptocurrency</th>
            <th>Supported</th>
            <th>Graph</th>
        </tr>
        <tr>
            <th>Bitcoin</th>
            <th>Yes</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>Ether</th>
            <th>No</th>
            <th>No</th>
        </tr>
        <tr>
            <th>Litecoin</th>
            <th>No</th>
            <th>No</th>
        </tr>
    </table>
</body>
</html>