{% extends 'price/base.html' %}
{% load static %}

{% block content %}
<div style="text-align:center">
<head>
  <meta charset="utf-8">
  <title>Dionysos</title>
  <h1 style="margin: 5%"> How the Correlation is Calculated</h1>
</head>
<body style="background-image: url({% static 'pictures/background.png' %}")>
    <p>No Idea, i just used the numpy function: "corrcoef"</p>
    <p>And a lot of math</p>
    <img class="resize" src="{% static 'pictures/math.png' %}">
    <table>
        <tr>
            <th>Cryptocurrency</th>
            <th>Supported</th>
            <th>Graph</th>
        </tr>
        <tr>
            <td>Bitcoin</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Ether</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Litecoin</td>
            <td>No</td>
            <td>No</td>
        </tr>
    </table>
    </body>
</div>
{% endblock %}