body {
  background-color: white;
  color: lightgrey;
}

p {
  width: 50%;
  color: rgb(0, 0, 0);
}

h1,h2,h3 {
  border-color: black;
  border-size: 2px;
  border-style: solid;
  border-radius: 3px;
  color: black;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: coral;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }