{% extends 'price/base.html' %}
{% load static %}

{% block content %}

<body style="background-image: url({% static 'pictures/background_inv.png' %}")>
    <button type="button" class="btn btn-dark btn-lg" style="margin:5% 20%">$GME</button>

    <button type="button" class="btn btn-dark btn-lg" style="margin-left:30%">BTC</button>
<div style="width: 100%;">
    <div style="margin-left: 2%; width: 50%; height: 100px; float: left;">
  {% autoescape off %}
  {{ plot_div_gme }}
  {% endautoescape %}
    </div>
    <div style="margin-left: 55%; height: 100px;">
  {% autoescape off %}
  {{ plot_div_btc }}
  {% endautoescape %}
    </div>
</div>
<div style="margin-top: 20%; margin-left: 41%">
<button type="button" class="btn btn-dark btn-lg">Correlation: {{ corr }}%</button>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}